openapi: 3.0.0
info:
  title: Bank API
  version: 1.0.0
  description: Intentionally vulnerable API for educational purposes

servers:
  - url: http://api.bankofcx.com
    description: Production server

paths:
  /login:
    post:
      summary: Login endpoint
      description: Intentionally vulnerable - no authentication, hardcoded credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '401':
          description: Invalid credentials

  # Intentionally undocumented endpoints
  # /transfer:
  #   post:
  #     summary: Transfer funds
  #     description: Intentionally vulnerable - no authentication, no input validation
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             properties:
  #               toAccount:
  #                 type: string
  #               amount:
  #                 type: number
  #     responses:
  #       '200':
  #         description: Transfer successful
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 status:
  #                   type: string
  #       '400':
  #         description: Invalid request

  # /account:
  #   get:
  #     summary: Get account details
  #     description: Intentionally vulnerable - no authentication, leaking sensitive info
  #     responses:
  #       '200':
  #         description: Account details retrieved
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 accountNumber:
  #                   type: string
  #                 balance:
  #                   type: number
  #                 routingNumber:
  #                   type: string
  #                 fullName:
  #                   type: string
  #                 ssn:
  #                   type: string
  #       '401':
  #         description: Unauthorized 